<%- include("header"); %> 

<div class="returned">
<h1 class="return-item"> <%= goTo %> </h1>
<h1 class="return-item"> <%= comeFrom %> </h1>
<h1 class="return-item"> <%= passNum %> </h1>

<form action="/">
    <button class="btn again-btn">ESTIMATE AGAIN</button>
</form>

</div>





<%- include("footer"); %>  